<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>{{ page_info.title or 'IEthru' }} - IEthru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#C0C0C0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 
DEBUG: Session ID = {{ session_id }}
This session_id must be passed to ALL links to maintain the same browser session.
-->

<table border="0" cellpadding="0" cellspacing="0" width="100%">

<!-- TOOLBAR -->
<tr bgcolor="#D4D0C8">
    <td>
        <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <tr>
            <!-- Navigation -->
            <td nowrap>
                <a href="/action/{{ session_id }}/get?action=back">&lt;Back</a>
                <a href="/action/{{ session_id }}/get?action=forward">Fwd&gt;</a>
                <a href="/action/{{ session_id }}/get?action=reload">Reload</a>
            </td>
            <!-- URL bar -->
            <td width="100%">
                <form action="/browse" method="GET">
                    <input type="hidden" name="session_id" value="{{ session_id }}">
                    <input type="text" name="url" value="{{ page_info.url }}" size="50">
                    <input type="submit" value="Go">
                </form>
            </td>
            <!-- Session info -->
            <td nowrap align="right">
                <font size="1">
                    Session: {{ session_id }} |
                    <a href="/">New</a> |
                    <a href="/session/close/{{ session_id }}/get">Close</a>
                </font>
            </td>
        </tr>
        </table>
    </td>
</tr>

<!-- SCROLL CONTROLS - These MUST use the correct session_id -->
<tr bgcolor="#EEEEEE">
    <td>
        <table border="0" cellpadding="2" cellspacing="0">
        <tr>
            <td nowrap>
                <!-- CRITICAL: session_id in URL path ensures correct session is used -->
                <a href="/scroll/{{ session_id }}?dy=-100">[Up]</a>
                <a href="/scroll/{{ session_id }}?dy=100">[Down]</a>
                <a href="/scroll/{{ session_id }}?dy=-400">[PgUp]</a>
                <a href="/scroll/{{ session_id }}?dy=400">[PgDn]</a>
                &nbsp;|&nbsp;
                <a href="/refresh/{{ session_id }}">[Refresh Frame]</a>
            </td>
            <td>
                <form action="/type/{{ session_id }}" method="GET">
                    Type: <input type="text" name="text" size="15">
                    <input type="submit" value="Send">
                </form>
            </td>
            <td nowrap>
                <a href="/key/{{ session_id }}?key=Enter">[Enter]</a>
                <a href="/key/{{ session_id }}?key=Tab">[Tab]</a>
                <a href="/key/{{ session_id }}?key=Escape">[Esc]</a>
                <a href="/key/{{ session_id }}?key=Backspace">[Bksp]</a>
            </td>
        </tr>
        </table>
    </td>
</tr>

{% if error %}
<!-- ERROR -->
<tr bgcolor="#FFCCCC">
    <td><font color="#CC0000"><b>Error:</b> {{ error }}</font></td>
</tr>
{% endif %}

{% if page_info.downloads_count > 0 %}
<!-- DOWNLOAD NOTIFICATION -->
<tr bgcolor="#FFFFCC">
    <td align="center" style="border-bottom: 1px solid #999900;">
        <table border="0" cellpadding="5" cellspacing="0" width="100%">
            <tr>
                <td align="center">
                    <font face="Verdana, Arial" size="2" color="black">
                        <b>Downloads Available:</b> 
                        <a href="/downloads/history/{{ session_id }}" target="_blank">
                            <b>View {{ page_info.downloads_count }} File(s)</b>
                        </a>
                    </font>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endif %}

<!-- VIEWPORT -->
<tr>
    <td bgcolor="#000000" align="center">
        <a href="/click/{{ session_id }}?x=0&y=0">
        <img src="/frame/{{ session_id }}?t={{ timestamp }}" 
             border="0" 
             alt="Remote Browser"
             id="viewport">
        </a>
    </td>
</tr>

</table>

<!-- Click handler for IE5/6 - Compatible with Cloudflare proxy -->
<script language="JavaScript">
<!--
// Suppress errors from any injected scripts (Cloudflare, etc.)
window.onerror = function() { return true; };

function handleClick() {
    var e, x, y;
    x = 0;
    y = 0;
    e = null;
    if (typeof window.event != 'undefined') {
        e = window.event;
    }
    if (e) {
        if (typeof e.offsetX != 'undefined') { x = e.offsetX; }
        if (typeof e.offsetY != 'undefined') { y = e.offsetY; }
    }
    window.location.href = '/click/{{ session_id }}?x=' + x + '&y=' + y;
    return false;
}

function setupViewport() {
    var img;
    if (document.getElementById) {
        img = document.getElementById('viewport');
    } else if (document.all) {
        img = document.all['viewport'];
    }
    if (img) {
        img.onclick = handleClick;
    }
}

setupViewport();
//-->
</script>

</body>
</html>
